#root {
  background-color: #f8f8f8;
  height: 100vh;
}

.App {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  margin: 0 1rem 1rem 1rem;
  padding: 1rem;
  border-radius: 1rem !important;
  box-shadow: 4px -1px 17px 8px rgba(0, 0, 0, 0.2), 0 1px 6px rgba(0, 0, 0, 0.2);
}

.row,
.col {
  margin: 1rem;
}

.btn {
  margin: 1rem;
}

.justify-center {
  justify-content: center;
}

.align-self-center {
  align-self: center;
}

.margin-top {
  margin-top: 2rem;
}

img {
  height: 50px;
  width: 50px;
  align-self: center;
}
