html {
  height: 100%;
}

body {
  height: 100%;
}

img {
  height: 50px;
  width: 50px;
  align-self: center;
}

#root {
  background-color: #f8f8f8;
  height: 100%;
}

.App {
  text-align: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  margin: 0 0 1rem 1rem;
  padding: 1rem;
  border-radius: 1rem !important;
  box-shadow: 4px -1px 17px 8px rgba(0, 0, 0, 0.2), 0 1px 6px rgba(0, 0, 0, 0.2);
}

.row,
.col {
  margin: 1rem;
}

.flex {
  display: flex;
}

.btn {
  margin: 1rem 0.5rem;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.align-self-center {
  align-self: center;
}

.margin-top {
  margin-top: 2rem;
}

.margin-bottom {
  margin-bottom: 1rem;
}

.no-margin-bottom {
  margin-bottom: 0rem;
}

.no-margin-top {
  margin-top: 0rem;
}

.square-img {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.centered {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  padding: 0 1rem;
  background-color: #d7d7d752;
  margin: 0 0 1rem 0 !important;
  justify-content: space-between;
  width: 100%;
}
