#root {
  background-color: rgba(182, 195, 255, 0.664);
  height: 100vh;
}

.App {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  margin-right: 1rem;
  padding: 1rem;
}

.row,
.col {
  margin: 1rem 0;
}

.btn {
  margin: 1rem;
}

.justify-center {
  justify-content: center;
}
